<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title  %}
        Mysite
    {% endblock title  %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
     <header>
        {% block header %}
        <h1>Django App Development</h1>
        {% endblock header %}
    </header>
        <main>
            {% block main %}
          <h3>Base Page</h3>  
          <h3>Base Page</h3>  
          <h3>Base Page</h3>  
            {% endblock main %}
        </main>
        <footer>
            {% block footer %}
            <h1>Thanks</h1>
        {% endblock footer %}
        </footer>

</body>
</html>